{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "EventHub:EventHubNamespace": "",
        "EventHub:EventHubName": "",
        "EventHub:TenantId": "",
        "EventHub:ClientId": "",
        "EventHub:ClientSecret": "",
        "EventHub:EventHubConnectionString": "",
        "EventHub:CheckpointConnectionString": "",
        "EventHub:CheckpointContainer": "checkpoints",
        "EventHub:EventHubReceiverWaitTimeInSeconds": 10
        "EventHubConsumerCron": "* * * * *"
    }
}